<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bollection</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
      }

      header {
        background-color: #333;
        padding: 10px 20px;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        padding: 8px 15px;
      }

      nav a:hover {
        background-color: #555;
        border-radius: 4px;
      }

      nav ul {
        list-style: none;
        display: flex;
      }

      nav li {
        margin-left: 20px;
      }

      nav ul li:first-child {
        margin-left: 0;
      }
      #title {
        font-weight: bolder;
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="title">Bollection</a>
        <ul>
          <li><a href="/authors">Authors</a></li>
          <li><a href="/authors/new">Add Authors</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
